# Application
PORT=3001

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/database_name

# Authentication
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRES_IN=86400

# CORS
FRONTEND_URL=http://localhost:3000

# Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password